raspi/node-red-library
[{"id":"e06c210d.aae69","type":"serial in","z":"eee9700b.a9c97","name":"MEGA","serial":"a45a5faf.5e01a","x":81.5,"y":67,"wires":[["e904919e.6dee2","cdadbf20.80585"]]},{"id":"e904919e.6dee2","type":"debug","z":"eee9700b.a9c97","name":"","active":true,"console":"false","complete":"false","x":802.5,"y":60,"wires":[]},{"id":"4556daca.ab538c","type":"debug","z":"eee9700b.a9c97","name":"switch","active":true,"console":"false","complete":"payload","x":799.5,"y":218,"wires":[]},{"id":"77bad5ba.8a294c","type":"split","z":"eee9700b.a9c97","name":"split ,","splt":",","x":383.5,"y":250,"wires":[["f02111b0.7c668"]]},{"id":"ccb58120.3e398","type":"debug","z":"eee9700b.a9c97","name":"split","active":true,"console":"false","complete":"payload","x":792,"y":506,"wires":[]},{"id":"3dfe3d57.c9a26a","type":"ui_text","z":"eee9700b.a9c97","tab":"e38507b3.237ca","name":"Status","group":"RTC Start","order":1,"format":"{{msg.payload}}","x":580.5,"y":352,"wires":[]},{"id":"31169030.c14898","type":"ui_text","z":"eee9700b.a9c97","tab":"e38507b3.237ca","name":"","group":"RTC Start","order":"2","format":"{{msg.payload}}","x":581,"y":396,"wires":[]},{"id":"f02111b0.7c668","type":"switch","z":"eee9700b.a9c97","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Ok","vt":"str"},{"t":"cont","v":"Time","vt":"str"},{"t":"cont","v":"Date","vt":"str"},{"t":"cont","v":"*C","vt":"str"},{"t":"cont","v":"%","vt":"str"}],"checkall":"false","outputs":5,"x":438,"y":380,"wires":[["3dfe3d57.c9a26a","707c83db.445ea4"],["31169030.c14898"],["8a60d608.c8388"],["414351c9.818f38"],["6653fc37.ab6384"]]},{"id":"8a60d608.c8388","type":"ui_text","z":"eee9700b.a9c97","tab":"e38507b3.237ca","name":"","group":"RTC Start","order":"3","format":"{{msg.payload}}","x":591,"y":438,"wires":[]},{"id":"707c83db.445ea4","type":"ui_template","z":"eee9700b.a9c97","tab":"e38507b3.237ca","name":"RTC Status","group":"test","order":1,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>TinyRTC</p>\n    <p ng-style=\"{color: (msg.payload || 0)  !== Ok ? 'green' : 'red'}\">\n        {{(msg.payload || 0)  === Ok ? 'erreur' : 'OK'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":797.5,"y":352,"wires":[[]]},{"id":"e1643426.98e098","type":"split","z":"eee9700b.a9c97","name":"split ;","splt":";","x":245,"y":412,"wires":[["ccb58120.3e398","f02111b0.7c668"]]},{"id":"414351c9.818f38","type":"ui_text","z":"eee9700b.a9c97","tab":"e38507b3.237ca","name":"Température","group":"env. Labo","order":1,"format":"{{msg.payload}}","x":793.5,"y":403,"wires":[]},{"id":"6653fc37.ab6384","type":"ui_text","z":"eee9700b.a9c97","tab":"e38507b3.237ca","name":"Humidité","group":"env. Labo","order":"2","format":"{{msg.payload}}","x":791,"y":443,"wires":[]},{"id":"f2715db7.a9bd38","type":"ui_template","z":"eee9700b.a9c97","tab":"e38507b3.237ca","name":"RTC Time","group":"test","order":1,"format":"{{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"x":962,"y":355,"wires":[[]]},{"id":"cdadbf20.80585","type":"switch","z":"eee9700b.a9c97","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"alarm","vt":"str"},{"t":"cont","v":"timer","vt":"str"},{"t":"cont","v":"%","vt":"str"},{"t":"cont","v":"Ok","vt":"str"},{"t":"else"}],"checkall":"false","outputs":5,"x":236.5,"y":152,"wires":[[],[],["e1643426.98e098"],["77bad5ba.8a294c"],["f2715db7.a9bd38"]]},{"id":"a45a5faf.5e01a","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"e38507b3.237ca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
